<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 hidden-xs">
                <p>hello@slicepayments.com</p>
                <p>El Director 6000, Oficina 207, Las Condes, Santiago.</p>
            </div>
            <div class="col-xs-4 col-sm-4 supported-by">
                <p>Con el apoyo de</p>
                <a href="http://startupchile.org/"><img src="images/supchile.png" class="logo-supchile" /></a>
            </div>
            <div class="col-xs-8 col-sm-4 text-right">
                <p>Copyright © Slice 2014-2016.</p>
                <p><a href="#">Términos de Servicio</a> - <a href="#">Política de Privacidad</a></p>
            </div>
        </div>
    </div>
</footer>