<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-offset-4 col-sm-4 supported-by">
                <p>Con el apoyo de</p>
                <img src="images/supchile.png" class="logo-supchile" />
            </div>
            <div class="col-xs-8 col-sm-4 text-right">
                <p>Copyright © Slice 2014-2015.</p>
                <p><a href="#">Términos de Servicio</a> - <a href="#">Política de Privacidad</a></p>
            </div>
        </div>
    </div>
</footer>