<div class="visible-xs-block">
    <div class="btn-menu btn-menu-x">
      <div class="hamburger"></div>
    </div>
    <nav id="navbar-mobile" class="navbar-mobile move-up">

        <a id="brand-link" class="navbar-brand" href="#home">
            <img src="images/logo.svg" class="logo" />
        </a>
    </nav>
</div>

<nav class="sidemenu visible-xs-block">
    <ul>
        <li><a class="main-link" href="/">Para Todos</a></li>
        <li><a class="main-link" href="/restaurant">Para Restaurantes</a></li>
        <li><a class="icon icon-study" href="#">English</a></li>
    </ul>
</nav>
<div class="sidemenu-backdrop"></div>