<!doctype html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Slice - La cuenta, simple.</title>

     <!-- Place favicon.ico in the root directory -->
    <link rel="icon" href="favicon.ico">
    
    <% include ../partials/meta %>

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/Swiper/dist/css/swiper.min.css">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script>
      
        'use strict';
        angular.module('everyone', [])
        
        .controller('switchCtrl', function ( $scope ) {
            $scope.activePane = 0;        
        });
    
    </script>
</head>

<body ng-app="everyone">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <% include ../partials/navbar %>
    <% include ../partials/sidemenu %>

    <section id="home">
        <div class="jumbotron hero-main">
            <div class="container container-vertical-center">
                <img class="mobile-logo visible-xs-inline" src="images/slice-logo-shadow.png" />
                <h1 class="text-italic"><span class="text-light">La cuenta,</span> <span class="text-medium">simple.</span></h1>
                <div class="store-buttons">
                    <a class="opening-button button-playstore" href="https://play.google.com/store/apps/details?id=com.slice.payments">
                        <div class="outer-shape"></div>
                        <div class="inner-shape"></div>
                    </a>

                    <a class="opening-button button-appstore" href="https://itunes.apple.com/us/app/slice/id1035416751?l=es&ls=1&mt=8">
                        <div class="outer-shape"></div>
                        <div class="inner-shape"></div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="how_it_works" class="how-it-works section-gray" ng-controller="switchCtrl">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2><span class="text-light">Paga la cuenta</span> <span class="text-medium">fácilmente</span></h2>
                    <p class="lead">directo desde tu smartphone</p>
                </div>
            </div>
            <div class="swiper-container visible-xs-block">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="phone">
                            <img src="images/iphone.png" />
                            <div class="content feature-1 active"></div>
                        </div>

                        <h4 class="swiper-title">Encuentra un local para tí</h4>
                        <p class="content">Busca bares y restaurantes cerca tuyo o <br/>aventúrate y descubre uno nuevo.</p>
                    </div>
                    <div class="swiper-slide">
                        <div class="phone">
                            <img src="images/iphone.png" />
                            <div class="content feature-2 active"></div>
                        </div>

                        <h4 class="swiper-title">Indícale al mesero que pagarás con Slice</h4>
                        <p class="content">Nosotros nos encargamos del resto.</p>
                    </div>
                    <div class="swiper-slide">
                        <div class="phone">
                            <img src="images/iphone.png" />
                            <div class="content feature-3 active"></div>
                        </div>

                        <h4 class="swiper-title">Comparte la cuenta con tus amigos</h4>
                        <p class="content">Invita a tus amigos y reparte la cuenta <br/>¡Directo desde la app!</p>
                    </div>
                    <div class="swiper-slide">
                        <div class="phone">
                            <img src="images/iphone.png" />
                            <div class="content feature-4 active"></div>
                        </div>

                        <h4 class="swiper-title">Paga cuando estés listo</h4>
                        <p class="content">Olvídate de la tarjeta. No más clonaciones.<br/> Y sobretodo, no más esperas</p>
                    </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
                
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                
            </div>


            <div class="row text-center hidden-xs">
                <div class="col-sm-6">
                    <div class="phone">
                        <img src="images/iphone.png" />
                        <div class="content feature-{{activePane+1}} active"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feature text-left" ng-mouseover="activePane = 0">
                        <div class="circular-icon" ng-class="{'active' : activePane == 0}"><i class="fa fa-map-marker"></i></div>
                        <div class="description">
                            <h4>Encuentra un local para tí</h4>
                            <p>Busca bares y restaurantes cerca tuyo o aventúrate y <br/>descubre uno nuevo</p>
                        </div>
                    </div>
                    <div class="feature text-left" ng-mouseover="activePane = 1">
                        <div class="circular-icon" ng-class="{'active' : activePane == 1}"><i class="fa fa-map-marker"></i></div>
                        <div class="description">
                            <h4>Indícale al mesero que pagarás con Slice</h4>
                            <p>Nosotros nos encargamos del resto</p>
                        </div>
                    </div>
                    <div class="feature text-left" ng-mouseover="activePane = 2">
                        <div class="circular-icon" ng-class="{'active' : activePane == 2}"><i class="fa fa-map-marker"></i></div>
                        <div class="description">
                            <h4>Divide la cuenta con tus amigos</h4>
                            <p>Simplemente invita a tus amigos y reparte la cuenta <br/>¡Directo desde la aplicación!</p>
                        </div>
                    </div>
                    <div class="feature text-left" ng-mouseover="activePane = 3">
                        <div class="circular-icon" ng-class="{'active' : activePane == 3}"><i class="fa fa-map-marker"></i></div>
                        <div class="description">
                            <h4>Paga cuando estés listo</h4>
                            <p>Olvídate de la tarjeta. No más clonaciones. <br/>Y sobretodo, no más esperas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="benefit-1" class="benefit benefit-1">
        <div class="shadow-right"></div>
        <video preload class="video-benefit hidden-xs">
          <source src="videos/homepage1.mp4" />
          <source src="videos/homepage1.webm" />
        </video>

        <div class="container container-vertical-center" style="z-index: 9;">
            <div class="row">
                <div class="col-xs-offset-6 col-xs-6">
                    <h3>Retírate cuando quieras</h3>
                    <p>¿Apurado? ¿Con ganas de salir? Te permitimos manejar tu tiempo. Cuando quieras podrás salir y seguir disfrutando de tu día.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="benefit benefit-2">
        <div class="shadow-left"></div>
        <video preload class="video-benefit hidden-xs">
          <source src="videos/homepage2.mp4" />
          <source src="videos/homepage2.webm" />
        </video>

        <div class="container container-vertical-center" style="z-index: 9;">
            <div class="row">
                <div class="col-xs-6">
                    <h3>Disfruta la compañía</h3>
                    <p>Olvida los malos ratos. Cuanto paga cada uno, cuánto es la propina ... Relájate y disfruta la comida o bebida. Calculamos todo por tí y tus amigos.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="benefit benefit-3">
        <div class="shadow-right"></div>
        <video preload class="video-benefit hidden-xs">
          <source src="videos/homepage3.mp4" />
          <source src="videos/homepage3.webm" />
        </video>

        <div class="container container-vertical-center" style="z-index: 9;">
            <div class="row">
                <div class="col-xs-offset-6 col-xs-6">
                    <h3>Más seguro</h3>
                    <p>No te preocupes por perder tu tarjeta nunca más. Sal tranquilo sabiendo que no serás víctima de clonaciones o de robos. Nuestro sistema opera bajo estándares bancarios.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="restaurant">
        <div class="container container-vertical-center">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1>¿Eres operador de un bar o restaurant?</h1>
                    <a class="btn btn-lg btn-clear" href="/restaurant">Entra aquí</a>
                </div>
            </div>
        </div>
    </section>

    <section class="quote section-gray">
        <div class="container container-vertical-center">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1>"Desde que uso Slice, mi vida es bakán. Bájatela al toque"</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="call-to-action">
        <div class="container container-vertical-center">
            <div class="row text-center">
                <div class="col-sm-offset-6 col-sm-6">
                    <img class="thumbs-up visible-xs-inline-block" src="images/ok.svg"/>
                    <p>Olvídate de esperar la cuenta, descarga Slice ahora.</p>
                    <div class="store-buttons">
                        <img src="images/playstore-black.svg" />
                        <img src="images/appstore-black.svg" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <% include ../partials/footer %>
    <script src="https://cdn.jsdelivr.net/scrollreveal.js/3.1.1/scrollreveal.min.js"></script>
    
    <!-- build:js js/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/parallax.js/parallax.min.js"></script>
    <script src="/bower_components/Swiper/dist/js/swiper.jquery.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/plugins.js -->
    
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    
    <!-- endbuild -->
    
    <!-- build:js js/main.js -->
    <script src="js/main.js"></script>
    <!-- endbuild -->
</body>

</html>